body {
    display: grid;
    grid-template-columns: 80% 20%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 70vh;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

button {
    width: fit-content;
    height: fit-content;
    margin-top: 300px;
    font-size: 2rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    
}

.full {
    background-color: green;
}


